<ion-header>
  <ion-toolbar>
    <ion-title>forgot_password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Forgot Password</ion-card-title>
      <ion-card-subtitle>Kindly enter your email </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <!-- <ion-label>Enter email</ion-label> -->
        <ion-input placeholder="Email" type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <!-- <ion-label>Enter email</ion-label> -->
        <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <a [routerLink]="['/forgot-password']">Forgot Password</a>

      <div class="bottom-section">
        <ion-button shape="round" (click)="reset_password()" [disabled]="disabledbtn">
          Reset Password
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
