<ion-header>
  <ion-toolbar>
    <!-- <ion-avatar>
      <ion-icon name="person-circle-outline" size="large" ></ion-icon>
    </ion-avatar> -->
    <label class="e55_83"><ion-icon name="person-circle-outline" size="large" ></ion-icon></label> 
  
    <!-- <span class="e55_90"><ion-button slot="start" >Login</ion-button></span>
    <span class="e57_3" ><ion-button slot="end">Register</ion-button></span> -->
    <label>{{name}}</label>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <span><ion-button class="activities">Activites</ion-button> <ion-button class="orders">Orders</ion-button></span>
  </ion-toolbar>
  
  <ion-item>
  <ion-list>
  
  <div class="e92">
    <button class="button">Table for 4 reserved at la grilla</button>
    
  </div>
  </ion-list>

</ion-item>
 
  </ion-content> 
  <ion-footer >
    

    <span><a href="">About US</a> </span>
    <span><a href="">Contact Us</a></span>
    <span><a href="">Terms % Conditions</a></span>
    
  </ion-footer>
  

