.e55_83 { 
	background-color:transparent;
	width: 50%px;
	height: 100px;
}
.e55_90 { 
	color:rgba(255, 255, 255, 1);
	width:50%;
	height:36px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e57_3 { 
	color:rgba(255, 255, 255, 1);
	width:40%;
	height:36px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.activities{
    width: 50%;
}
.orders{
    width: 45%;
}
.e92{
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    position: obsolete;
    width:100%;
    height: 30%;
    left: 30px;
    
}
ion-button{
    background-color: orangered;
    border-style: solid;
}
ion-footer{
    background-color: orangered;
    height: 20px;
}
a{
    color: white;
}